<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>WCCI Libraries</title>
      <link rel="stylesheet" href="./css/style.css" />
      <link rel="stylesheet" href=".css/layout.css" />
    </head>
    <body>
      <div class="container">
        <header>
          <h1>We Can Code IT Libraries</h1>
        </header>
        <main>
          <h2 th:text="${book.title}">Head First Java</h2>
          <tr th:each="author : ${book.getAuthors()}">
            <td><span th:text="${author.getFirstName() + ' ' + author.getLastName()}">first name</span><br></td>
          </tr>
          <img th:src="${book.imageUrl}" src="http://placekitten.com/200/300" alt="Cover Picture" />
          <p th:text="${book.description}">
            Good book, innovative at it publish date. Best selling book on Java
            ever.
          </p>
          <a th:href="'/campuses/'+${book.campus.name}" href="./columbus.html" >Back to <span th:text="${book.campus.name}">Columbus</span></a>
        </main>
        <footer><small>&copy2021</small></footer>
      </div>
    </body>
  </html>
</html>
